     :root{
  --primary:#2A9D8F;
  --secondary:#1F6F78;
  --accent:#F4A261;
  --light:#F8FAFC;
  --dark:#0F172A;
  --font-family: 'Inter', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--font-family);
    background-color: var(--light);
    color: var(--dark);
}
/* hero section */
.contact-hero{
 
}
